In [119]:
!ls ../shared_data_read_only/

 2021_CBP_NAICS_ECON_DATA.csv
'DFG - Data Dictionary .xlsx'
 District_Value_Added_Ranking.xlsx
 District_and_School_Performance_Index_Ranking.xlsx
 Documentation
 Greenspace.csv
 HOME_IncomeLmts_Natl_2023.xlsx
 HUD_Rent_Data.csv
 NCES_School_Lookup.csv
 Walkability.csv
 geography_mappings

In [120]:
import pandas as pd
import numpy as np

In [121]:
# Load the Excel file into a DataFrame
school_ranking = pd.read_excel('../shared_data_read_only/District_and_School_Performance_Index_Ranking.xlsx', sheet_name='LEA PI Rankings')

#print(school_ranking)
school_ranking = school_ranking.replace("NC", 'NaN')
school_ranking['2023 PI for Ranking'] = school_ranking['2023 PI for Ranking'].astype(float)

#print(school_ranking)
skl_df = school_ranking.groupby('ODE Designated County', dropna = True)['2023 PI for Ranking'].agg(['min', 'max']).reset_index()
skl_df["DIFFSklPI"] = skl_df["max"] - skl_df["min"]
skl_df = skl_df.rename(columns={'2023 PI for Ranking': 'skl_PI_ranking'})
print(skl_df)
#print(sorted_skl)

# Load the Excel file into a DataFrame
build_ranking = pd.read_excel('../shared_data_read_only/District_and_School_Performance_Index_Ranking.xlsx', sheet_name='Building PI Rankings')
#print(build_ranking)
build_ranking = build_ranking.replace("NC", 'NaN')
build_ranking['2023 PI for Ranking'] = build_ranking['2023 PI for Ranking'].astype(float)

#print(build_ranking)
build_df = build_ranking.groupby('ODE Designated County', dropna = True)['2023 PI for Ranking'].agg(['min', 'max']).reset_index()
build_df["DIFFBuildPI"] = build_df["max"] - build_df["min"]
build_df = build_df.rename(columns={'2023 PI for Ranking': 'building_PI_ranking'})

merged_df = pd.merge(skl_df, build_df, on='ODE Designated County', how='outer')
new_df = merged_df[['ODE Designated County', 'DIFFSklPI', 'DIFFBuildPI']]
print(new_df)

df = pd.read_csv("data/places.txt", sep= "|")
df['COUNTYNAME'] = df['COUNTYNAME'].str.replace(' County', '')


merge = pd.merge(df, new_df, left_on='COUNTYNAME', right_on='ODE Designated County', how='inner')
print(merge)

   ODE Designated County     min      max  DIFFSklPI
0                  Adams  80.378   82.082      1.704
1                  Allen  61.542   98.058     36.516
2                Ashland  84.508   92.666      8.158
3              Ashtabula  66.330   84.823     18.493
4                 Athens  67.254   86.584     19.330
..                   ...     ...      ...        ...
83            Washington  75.083   90.608     15.525
84                 Wayne  82.132   98.632     16.500
85              Williams  82.186   92.146      9.960
86                  Wood  79.677  102.656     22.979
87               Wyandot  88.298   96.528      8.230

[88 rows x 4 columns]
   ODE Designated County  DIFFSklPI  DIFFBuildPI
0                  Adams      1.704       21.210
1                  Allen     36.516       57.529
2                Ashland      8.158       37.423
3              Ashtabula     18.493       36.952
4                 Athens     19.330       30.212
..                   ...        ...          ...
83            Washington     15.525       33.966
84                 Wayne     16.500       40.551
85              Williams      9.960       21.279
86                  Wood     22.979       52.433
87               Wyandot      8.230       16.846

[88 rows x 3 columns]
     STATE  STATEFP  COUNTYFP COUNTYNAME  PLACEFP  PLACENS  \
0       OH       39         1      Adams     5676  2628863
1       OH       39         1      Adams    13834  2785006
2       OH       39         1      Adams    47012  2399237
3       OH       39         1      Adams    61420  2399644
4       OH       39         1      Adams    68196  2399112
...    ...      ...       ...        ...      ...      ...
1351    OH       39       175    Wyandot    47992  2399262
1352    OH       39       175    Wyandot    53942  2399447
1353    OH       39       175    Wyandot    75980  2399942
1354    OH       39       175    Wyandot    79044  2397094
1355    OH       39       175    Wyandot    84574  2400159

                 PLACENAME                     TYPE CLASSFP FUNCSTAT  \
0          Bentonville CDP  CENSUS DESIGNATED PLACE      U1        S
1          Cherry Fork CDP  CENSUS DESIGNATED PLACE      U1        S
2       Manchester village       INCORPORATED PLACE      C1        A
3          Peebles village       INCORPORATED PLACE      C1        A
4     Rome (Stout) village       INCORPORATED PLACE      C1        A
...                    ...                      ...     ...      ...
1351    Marseilles village       INCORPORATED PLACE      C1        A
1352        Nevada village       INCORPORATED PLACE      C1        A
1353      Sycamore village       INCORPORATED PLACE      C1        A
1354   Upper Sandusky city       INCORPORATED PLACE      C1        A
1355       Wharton village       INCORPORATED PLACE      C1        A

     ODE Designated County  DIFFSklPI  DIFFBuildPI
0                    Adams      1.704       21.210
1                    Adams      1.704       21.210
2                    Adams      1.704       21.210
3                    Adams      1.704       21.210
4                    Adams      1.704       21.210
...                    ...        ...          ...
1351               Wyandot      8.230       16.846
1352               Wyandot      8.230       16.846
1353               Wyandot      8.230       16.846
1354               Wyandot      8.230       16.846
1355               Wyandot      8.230       16.846

[1356 rows x 13 columns]

In [122]:
# df = pd.read_csv("data/zip.txt", sep= "\t", header = None, names = ['zip_code','???', 'City', 'County', 'State', 'area_num'])
# df['County'] = df['County'].str.replace(' County', '')
# df['zip_code'] = df['zip_code'].astype(int)
    

merge['Key'] = merge['PLACENAME'].str.extract(r'^(.*?)\s\w+$', expand=False)

merge[merge['Key'] == 'Columbus']
# df['Key'] = df['City']

# merged_df = df.merge(merge, on='Key', how='inner')
# print(merged_df)

,STATE,STATEFP,COUNTYFP,COUNTYNAME,PLACEFP,PLACENS,PLACENAME,TYPE,CLASSFP,FUNCSTAT,ODE Designated County,DIFFSklPI,DIFFBuildPI,Key
319,OH,39,41,Delaware,18000,1086101,Columbus city,INCORPORATED PLACE,C6,A,Delaware,16.563,35.186,Columbus
351,OH,39,45,Fairfield,18000,1086101,Columbus city,INCORPORATED PLACE,C6,A,Fairfield,13.769,40.710,Columbus
379,OH,39,49,Franklin,18000,1086101,Columbus city,INCORPORATED PLACE,C6,A,Franklin,69.463,82.500,Columbus

In [123]:
# rent_df = pd.read_csv("rent.csv", sep = '\t')

# total_df = pd.merge(merged_df, rent_df, left_on='zip_code', right_on='ZIP\nCode', how='inner')
# print(total_df)

In [124]:
income_df = pd.read_csv('income.csv', sep = '\t')

total_df = pd.merge(merge, income_df, left_on='COUNTYFP', right_on='FIPS County Code', how='inner')
print(total_df[total_df['Key'] == 'Columbus'])

    STATE  STATEFP  COUNTYFP COUNTYNAME  PLACEFP  PLACENS      PLACENAME  \
319    OH       39        41   Delaware    18000  1086101  Columbus city
351    OH       39        45  Fairfield    18000  1086101  Columbus city
379    OH       39        49   Franklin    18000  1086101  Columbus city

                   TYPE CLASSFP FUNCSTAT  ... FIPS State Code  \
319  INCORPORATED PLACE      C6        A  ...              39
351  INCORPORATED PLACE      C6        A  ...              39
379  INCORPORATED PLACE      C6        A  ...              39

     FIPS County Code  medinc_23p1 medinc_23p2  medinc_23p3  medinc_23p4  \
319                41        69500       79400        89300        99200
351                45        69500       79400        89300        99200
379                49        69500       79400        89300        99200

     medinc_23p5  medinc_23p6  medinc_23p7  medinc_23p8
319       107200       115100       123100       131000
351       107200       115100       123100       131000
379       107200       115100       123100       131000

[3 rows x 25 columns]

In [113]:
schools = pd.read_csv('../shared_data_read_only/NCES_School_Lookup.csv', skiprows=6, skipfooter=7)

schools['County Name [Public School] 2018-19'] = schools['County Name [Public School] 2018-19'].str.replace(' County', '')
schools['Free Lunch Eligible [Public School] 2018-19'] = schools['Free Lunch Eligible [Public School] 2018-19'].str.replace('–', '0')
schools['Reduced-price Lunch Eligible Students [Public School] 2018-19'] = schools['Reduced-price Lunch Eligible Students [Public School] 2018-19'].str.replace('–', '0')
schools['Free and Reduced Lunch Students [Public School] 2018-19'] = schools['Free and Reduced Lunch Students [Public School] 2018-19'].str.replace('–', '0')

schools.rename(columns={'State Name [Public School] Latest available year': 'State Name'}, inplace=True)
schools.rename(columns={'Agency Name [Public School] 2018-19': 'Agency Name'}, inplace=True)
schools.rename(columns={'County Name [Public School] 2018-19': 'County Name'}, inplace=True)
schools.rename(columns={'Location ZIP [Public School] 2018-19': 'Location ZIP'}, inplace=True)
schools.rename(columns={'Location City [Public School] 2018-19': 'Location City'}, inplace=True)
schools.rename(columns={'Total Students All Grades (Excludes AE) [Public School] 2018-19': 'Total Students'}, inplace=True)
schools.rename(columns={'Free Lunch Eligible [Public School] 2018-19': 'Free Lunch Eligible'}, inplace=True)
schools.rename(columns={'Pupil/Teacher Ratio [Public School] 2018-19': 'Pupil/Teacher ratio'}, inplace=True)
schools.rename(columns={'Reduced-price Lunch Eligible Students [Public School] 2018-19': 'Reduced-price lunch'}, inplace=True)
schools.rename(columns={'Free and Reduced Lunch Students [Public School] 2018-19': 'Free and reduced lunch'}, inplace=True)
schools.rename(columns={'Full-Time Equivalent (FTE) Teachers [Public School] 2018-19': 'Full-Time Teachers'}, inplace=True)
schools.rename(columns={'Full-Time Equivalent (FTE) Teachers [Public School] 2018-19': 'Full-Time Teachers'}, inplace=True)
schools.rename(columns={'Pupil/Teacher Ratio [Public School] 2018-19': 'Pupil/Teacher ratio'}, inplace=True)

schools['Total Students'] = schools['Total Students'].str.extract('(\d+)')
schools['Free and reduced lunch'] = schools['Free and reduced lunch'].str.extract('(\d+)')

schools = schools.dropna()

schools['Total Students'] = schools['Total Students'].astype(int)
schools['Free and reduced lunch'] = schools['Free and reduced lunch'].astype(int)

skls = schools.groupby('County Name', dropna = True)[['Total Students', 'Free and reduced lunch']].mean()
skls = skls.reset_index()
skls

total_df = pd.merge(total_df, skls, left_on='COUNTYNAME', right_on='County Name', how='outer')
print(total_df[total_df['Key'] == 'Columbus'])

    STATE  STATEFP  COUNTYFP COUNTYNAME  PLACEFP  PLACENS      PLACENAME  \
319    OH       39        41   Delaware    18000  1086101  Columbus city
351    OH       39        45  Fairfield    18000  1086101  Columbus city
379    OH       39        49   Franklin    18000  1086101  Columbus city

                   TYPE CLASSFP FUNCSTAT  ... medinc_23p2  medinc_23p3  \
319  INCORPORATED PLACE      C6        A  ...       79400        89300
351  INCORPORATED PLACE      C6        A  ...       79400        89300
379  INCORPORATED PLACE      C6        A  ...       79400        89300

     medinc_23p4 medinc_23p5  medinc_23p6  medinc_23p7  medinc_23p8  \
319        99200      107200       115100       123100       131000
351        99200      107200       115100       123100       131000
379        99200      107200       115100       123100       131000

     County Name  Total Students  Free and reduced lunch
319     Delaware      767.636364              108.218182
351    Fairfield      555.266667              184.200000
379     Franklin      504.110512              112.582210

[3 rows x 28 columns]

/opt/tljh/user/lib/python3.7/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [125]:
crime_df = pd.read_excel('ohio.xls', skiprows = 4)
crime_df['total_crime'] = crime_df.iloc[:, 2:].sum(axis=1)
crime_df['crime_rate'] = crime_df['total_crime'] / crime_df['Population'] * 100

new_df = crime_df[['City', 'crime_rate']]

#print(new_df[new_df['City'] == 'Columbus'])

# total_df['Key'] = total_df['Key'].str.lower().str.strip()

tot_df = pd.merge(total_df, new_df, right_on='City', left_on = 'Key', how='left')
tot_df[tot_df['Key'] == 'Columbus']
#tot_df

# df = pd.read_csv("walkability.csv", sep= "\t")

# df['CBSA_Name'] = df['CBSA_Name'].str.extract(r'^([^,]+)', expand=False)
# #print(df)

# total_df = pd.merge(total_df, df, left_on='Key', right_on='CBSA_Name', how='inner')
# print(total_df)

,STATE,STATEFP,COUNTYFP,COUNTYNAME,PLACEFP,PLACENS,PLACENAME,TYPE,CLASSFP,FUNCSTAT,...,medinc_23p1,medinc_23p2,medinc_23p3,medinc_23p4,medinc_23p5,medinc_23p6,medinc_23p7,medinc_23p8,City,crime_rate
319,OH,39,41,Delaware,18000,1086101,Columbus city,INCORPORATED PLACE,C6,A,...,69500,79400,89300,99200,107200,115100,123100,131000,NaN,NaN
351,OH,39,45,Fairfield,18000,1086101,Columbus city,INCORPORATED PLACE,C6,A,...,69500,79400,89300,99200,107200,115100,123100,131000,NaN,NaN
379,OH,39,49,Franklin,18000,1086101,Columbus city,INCORPORATED PLACE,C6,A,...,69500,79400,89300,99200,107200,115100,123100,131000,NaN,NaN

In [115]:
# total_df = total_df.dropna()
# total_df['SAFMR\n0BR'] = total_df['SAFMR\n0BR'].str.replace('[\$,]', '', regex=True).astype(int)
# total_df['SAFMR\n1BR'] = total_df['SAFMR\n1BR'].str.replace('[\$,]', '', regex=True).astype(int)
# total_df['SAFMR\n2BR'] = total_df['SAFMR\n2BR'].str.replace('[\$,]', '', regex=True).astype(int)
# total_df['SAFMR\n3BR'] = total_df['SAFMR\n3BR'].str.replace('[\$,]', '', regex=True).astype(int)
# total_df['SAFMR\n4BR'] = total_df['SAFMR\n4BR'].str.replace('[\$,]', '', regex=True).astype(int)

print(tot_df)

     STATE  STATEFP  COUNTYFP COUNTYNAME  PLACEFP  PLACENS  \
0       OH       39         1      Adams     5676  2628863
1       OH       39         1      Adams    13834  2785006
2       OH       39         1      Adams    47012  2399237
3       OH       39         1      Adams    61420  2399644
4       OH       39         1      Adams    68196  2399112
...    ...      ...       ...        ...      ...      ...
1351    OH       39       175    Wyandot    47992  2399262
1352    OH       39       175    Wyandot    53942  2399447
1353    OH       39       175    Wyandot    75980  2399942
1354    OH       39       175    Wyandot    79044  2397094
1355    OH       39       175    Wyandot    84574  2400159

                 PLACENAME                     TYPE CLASSFP FUNCSTAT  ...  \
0          Bentonville CDP  CENSUS DESIGNATED PLACE      U1        S  ...
1          Cherry Fork CDP  CENSUS DESIGNATED PLACE      U1        S  ...
2       Manchester village       INCORPORATED PLACE      C1        A  ...
3          Peebles village       INCORPORATED PLACE      C1        A  ...
4     Rome (Stout) village       INCORPORATED PLACE      C1        A  ...
...                    ...                      ...     ...      ...  ...
1351    Marseilles village       INCORPORATED PLACE      C1        A  ...
1352        Nevada village       INCORPORATED PLACE      C1        A  ...
1353      Sycamore village       INCORPORATED PLACE      C1        A  ...
1354   Upper Sandusky city       INCORPORATED PLACE      C1        A  ...
1355       Wharton village       INCORPORATED PLACE      C1        A  ...

     medinc_23p4  medinc_23p5  medinc_23p6 medinc_23p7  medinc_23p8  \
0          78400        84700        91000       97300       103500
1          78400        84700        91000       97300       103500
2          78400        84700        91000       97300       103500
3          78400        84700        91000       97300       103500
4          78400        84700        91000       97300       103500
...          ...          ...          ...         ...          ...
1351       79100        85500        91800       98100       104500
1352       79100        85500        91800       98100       104500
1353       79100        85500        91800       98100       104500
1354       79100        85500        91800       98100       104500
1355       79100        85500        91800       98100       104500

      County Name  Total Students  Free and reduced lunch            City  \
0           Adams      508.111111              231.000000             NaN
1           Adams      508.111111              231.000000             NaN
2           Adams      508.111111              231.000000             NaN
3           Adams      508.111111              231.000000             NaN
4           Adams      508.111111              231.000000             NaN
...           ...             ...                     ...             ...
1351      Wyandot      377.444444              118.777778             NaN
1352      Wyandot      377.444444              118.777778             NaN
1353      Wyandot      377.444444              118.777778             NaN
1354      Wyandot      377.444444              118.777778  upper sandusky
1355      Wyandot      377.444444              118.777778             NaN

      crime_rate
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
...          ...
1351         NaN
1352         NaN
1353         NaN
1354    4.267821
1355         NaN

[1356 rows x 30 columns]

In [78]:
# df = pd.read_excel("median income bby city.xlsx", names = ['City', 'Income'])
# total_df = total_df.merge(df, on = 'City', how = 'inner')
# total_df

In [134]:
df = pd.read_csv("hospital.csv", sep = '\t')
# print(df)

# print(df[df['City'] == 'Columbus'])

total_df = tot_df.merge(df, left_on = 'Key', right_on = 'City', how = 'left')
total_df[total_df['Key'] == 'Columbus']

,STATE,STATEFP,COUNTYFP,COUNTYNAME,PLACEFP,PLACENS,PLACENAME,TYPE,CLASSFP,FUNCSTAT,...,medinc_23p4,medinc_23p5,medinc_23p6,medinc_23p7,medinc_23p8,City_x,crime_rate,Unnamed: 0_y,City_y,Number of Hospitals
319,OH,39,41,Delaware,18000,1086101,Columbus city,INCORPORATED PLACE,C6,A,...,99200,107200,115100,123100,131000,NaN,NaN,25.0,Columbus,7.0
351,OH,39,45,Fairfield,18000,1086101,Columbus city,INCORPORATED PLACE,C6,A,...,99200,107200,115100,123100,131000,NaN,NaN,25.0,Columbus,7.0
379,OH,39,49,Franklin,18000,1086101,Columbus city,INCORPORATED PLACE,C6,A,...,99200,107200,115100,123100,131000,NaN,NaN,25.0,Columbus,7.0

In [139]:
final = total_df.groupby(['Key', 'COUNTYNAME']).mean()
final = final.reset_index()
print(final.columns)
FIN = final.drop(columns=['STATEFP', 'COUNTYFP', 'PLACEFP', 'PLACENS', 'Unnamed: 0_x', 'Unnamed: 0_y','FIPS State Code', 'FIPS County Code', 'medinc_23p5', 'medinc_23p6', 'medinc_23p7', 'medinc_23p8'])
FIN

Index(['Key', 'COUNTYNAME', 'STATEFP', 'COUNTYFP', 'PLACEFP', 'PLACENS',
       'DIFFSklPI', 'DIFFBuildPI', 'Unnamed: 0_x', 'FIPS State Code',
       'FIPS County Code', 'medinc_23p1', 'medinc_23p2', 'medinc_23p3',
       'medinc_23p4', 'medinc_23p5', 'medinc_23p6', 'medinc_23p7',
       'medinc_23p8', 'crime_rate', 'Unnamed: 0_y', 'Number of Hospitals'],
      dtype='object')

,Key,COUNTYNAME,DIFFSklPI,DIFFBuildPI,medinc_23p1,medinc_23p2,medinc_23p3,medinc_23p4,crime_rate,Number of Hospitals
0,Aberdeen,Brown,15.525,28.562,54900,62800,70600,78400,NaN,NaN
1,Ada,Hardin,12.736,18.519,54900,62800,70600,78400,0.980214,NaN
2,Adamsville,Muskingum,48.627,59.376,54900,62800,70600,78400,NaN,NaN
3,Addyston,Hamilton,76.719,84.015,70800,80900,91000,101100,NaN,NaN
4,Adelphi,Ross,17.021,24.296,54900,62800,70600,78400,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1351,Youngstown,Trumbull,50.854,58.577,54900,62800,70600,78400,NaN,1.0
1352,Zaleski,Vinton,0.000,29.410,54900,62800,70600,78400,NaN,NaN
1353,Zanesfield,Logan,9.722,16.627,59100,67500,75900,84300,NaN,NaN
1354,Zanesville,Muskingum,48.627,59.376,54900,62800,70600,78400,9.165154,1.0
1355,Zoar,Tuscarawas,36.072,46.575,55600,63500,71400,79300,NaN,NaN

In [140]:
FIN.to_csv('data/final.csv', sep = '\t')

In [142]:
print(final[final['Key'] == 'Bexley'])
print(final[final['Key'] == 'Big Walnut'])
print(final[final['Key'] == 'Blacklick'])
print(final[final['Key'] == 'Columbus'])
print(final[final['Key'] == 'Dublin'])
print(final[final['Key'] == 'Gahanna'])
print(final[final['Key'] == 'Grandview'])
print(final[final['Key'] == 'Hilliard'])
print(final[final['Key'] == 'Licking Heights'])
print(final[final['Key'] == 'Lewis Center'])
print(final[final['Key'] == 'New Albany'])
print(final[final['Key'] == 'Olentangy Local'])
print(final[final['Key'] == 'Reynoldsburg'])
print(final[final['Key'] == 'Sunbury'])
print(final[final['Key'] == 'Upper Arlington'])
print(final[final['Key'] == 'Westerville'])
print(final[final['Key'] == 'Worthington'])

        Key COUNTYNAME  STATEFP  COUNTYFP  PLACEFP  PLACENS  DIFFSklPI  \
103  Bexley   Franklin       39        49     6278  1086097     69.463

     DIFFBuildPI  Unnamed: 0_x  FIPS State Code  ...  medinc_23p2  \
103         82.5            24               39  ...        79400

     medinc_23p3  medinc_23p4  medinc_23p5  medinc_23p6  medinc_23p7  \
103        89300        99200       107200       115100       123100

     medinc_23p8  crime_rate  Unnamed: 0_y  Number of Hospitals
103       131000    4.471195           NaN                  NaN

[1 rows x 22 columns]
Empty DataFrame
Columns: [Key, COUNTYNAME, STATEFP, COUNTYFP, PLACEFP, PLACENS, DIFFSklPI, DIFFBuildPI, Unnamed: 0_x, FIPS State Code, FIPS County Code, medinc_23p1, medinc_23p2, medinc_23p3, medinc_23p4, medinc_23p5, medinc_23p6, medinc_23p7, medinc_23p8, crime_rate, Unnamed: 0_y, Number of Hospitals]
Index: []

[0 rows x 22 columns]
Empty DataFrame
Columns: [Key, COUNTYNAME, STATEFP, COUNTYFP, PLACEFP, PLACENS, DIFFSklPI, DIFFBuildPI, Unnamed: 0_x, FIPS State Code, FIPS County Code, medinc_23p1, medinc_23p2, medinc_23p3, medinc_23p4, medinc_23p5, medinc_23p6, medinc_23p7, medinc_23p8, crime_rate, Unnamed: 0_y, Number of Hospitals]
Index: []

[0 rows x 22 columns]
          Key COUNTYNAME  STATEFP  COUNTYFP  PLACEFP  PLACENS  DIFFSklPI  \
256  Columbus   Delaware       39        41    18000  1086101     16.563
257  Columbus  Fairfield       39        45    18000  1086101     13.769
258  Columbus   Franklin       39        49    18000  1086101     69.463

     DIFFBuildPI  Unnamed: 0_x  FIPS State Code  ...  medinc_23p2  \
256       35.186            22               39  ...        79400
257       40.710            23               39  ...        79400
258       82.500            24               39  ...        79400

     medinc_23p3  medinc_23p4  medinc_23p5  medinc_23p6  medinc_23p7  \
256        89300        99200       107200       115100       123100
257        89300        99200       107200       115100       123100
258        89300        99200       107200       115100       123100

     medinc_23p8  crime_rate  Unnamed: 0_y  Number of Hospitals
256       131000         NaN          25.0                  7.0
257       131000         NaN          25.0                  7.0
258       131000         NaN          25.0                  7.0

[3 rows x 22 columns]
        Key COUNTYNAME  STATEFP  COUNTYFP  PLACEFP  PLACENS  DIFFSklPI  \
330  Dublin   Delaware       39        41    22694  2394565     16.563
331  Dublin   Franklin       39        49    22694  2394565     69.463
332  Dublin      Union       39       159    22694  2394565      6.836

     DIFFBuildPI  Unnamed: 0_x  FIPS State Code  ...  medinc_23p2  \
330       35.186            22               39  ...        79400
331       82.500            24               39  ...        79400
332       23.267            77               39  ...        93300

     medinc_23p3  medinc_23p4  medinc_23p5  medinc_23p6  medinc_23p7  \
330        89300        99200       107200       115100       123100
331        89300        99200       107200       115100       123100
332       105000       116600       126000       135300       144600

     medinc_23p8  crime_rate  Unnamed: 0_y  Number of Hospitals
330       131000    1.833716          34.0                  1.0
331       131000    1.833716          34.0                  1.0
332       154000    1.833716          34.0                  1.0

[3 rows x 22 columns]
         Key COUNTYNAME  STATEFP  COUNTYFP  PLACEFP  PLACENS  DIFFSklPI  \
416  Gahanna   Franklin       39        49    29106  2394837     69.463

     DIFFBuildPI  Unnamed: 0_x  FIPS State Code  ...  medinc_23p2  \
416         82.5            24               39  ...        79400

     medinc_23p3  medinc_23p4  medinc_23p5  medinc_23p6  medinc_23p7  \
416        89300        99200       107200       115100       123100

     medinc_23p8  crime_rate  Unnamed: 0_y  Number of Hospitals
416       131000     4.26535          42.0                  1.0

[1 rows x 22 columns]
           Key COUNTYNAME  STATEFP  COUNTYFP  PLACEFP  PLACENS  DIFFSklPI  \
454  Grandview   Hamilton       39        61    31262  2393021     76.719

     DIFFBuildPI  Unnamed: 0_x  FIPS State Code  ...  medinc_23p2  \
454       84.015            13               39  ...        80900

     medinc_23p3  medinc_23p4  medinc_23p5  medinc_23p6  medinc_23p7  \
454        91000       101100       109200       117300       125400

     medinc_23p8  crime_rate  Unnamed: 0_y  Number of Hospitals
454       133500         NaN           NaN                  NaN

[1 rows x 22 columns]
          Key COUNTYNAME  STATEFP  COUNTYFP  PLACEFP  PLACENS  DIFFSklPI  \
518  Hilliard   Franklin       39        49    35476  2394381     69.463

     DIFFBuildPI  Unnamed: 0_x  FIPS State Code  ...  medinc_23p2  \
518         82.5            24               39  ...        79400

     medinc_23p3  medinc_23p4  medinc_23p5  medinc_23p6  medinc_23p7  \
518        89300        99200       107200       115100       123100

     medinc_23p8  crime_rate  Unnamed: 0_y  Number of Hospitals
518       131000    1.426366           NaN                  NaN

[1 rows x 22 columns]
Empty DataFrame
Columns: [Key, COUNTYNAME, STATEFP, COUNTYFP, PLACEFP, PLACENS, DIFFSklPI, DIFFBuildPI, Unnamed: 0_x, FIPS State Code, FIPS County Code, medinc_23p1, medinc_23p2, medinc_23p3, medinc_23p4, medinc_23p5, medinc_23p6, medinc_23p7, medinc_23p8, crime_rate, Unnamed: 0_y, Number of Hospitals]
Index: []

[0 rows x 22 columns]
Empty DataFrame
Columns: [Key, COUNTYNAME, STATEFP, COUNTYFP, PLACEFP, PLACENS, DIFFSklPI, DIFFBuildPI, Unnamed: 0_x, FIPS State Code, FIPS County Code, medinc_23p1, medinc_23p2, medinc_23p3, medinc_23p4, medinc_23p5, medinc_23p6, medinc_23p7, medinc_23p8, crime_rate, Unnamed: 0_y, Number of Hospitals]
Index: []

[0 rows x 22 columns]
            Key COUNTYNAME  STATEFP  COUNTYFP  PLACEFP  PLACENS  DIFFSklPI  \
827  New Albany   Franklin       39        49    53970  2399449     69.463
828  New Albany    Licking       39        89    53970  2399449     25.812

     DIFFBuildPI  Unnamed: 0_x  FIPS State Code  ...  medinc_23p2  \
827       82.500            24               39  ...        79400
828       57.061            25               39  ...        79400

     medinc_23p3  medinc_23p4  medinc_23p5  medinc_23p6  medinc_23p7  \
827        89300        99200       107200       115100       123100
828        89300        99200       107200       115100       123100

     medinc_23p8  crime_rate  Unnamed: 0_y  Number of Hospitals
827       131000      2.0473          67.0                  1.0
828       131000      2.0473          67.0                  1.0

[2 rows x 22 columns]
Empty DataFrame
Columns: [Key, COUNTYNAME, STATEFP, COUNTYFP, PLACEFP, PLACENS, DIFFSklPI, DIFFBuildPI, Unnamed: 0_x, FIPS State Code, FIPS County Code, medinc_23p1, medinc_23p2, medinc_23p3, medinc_23p4, medinc_23p5, medinc_23p6, medinc_23p7, medinc_23p8, crime_rate, Unnamed: 0_y, Number of Hospitals]
Index: []

[0 rows x 22 columns]
               Key COUNTYNAME  STATEFP  COUNTYFP  PLACEFP  PLACENS  DIFFSklPI  \
1017  Reynoldsburg  Fairfield       39        45    66390  2396357     13.769
1018  Reynoldsburg   Franklin       39        49    66390  2396357     69.463
1019  Reynoldsburg    Licking       39        89    66390  2396357     25.812

      DIFFBuildPI  Unnamed: 0_x  FIPS State Code  ...  medinc_23p2  \
1017       40.710            23               39  ...        79400
1018       82.500            24               39  ...        79400
1019       57.061            25               39  ...        79400

      medinc_23p3  medinc_23p4  medinc_23p5  medinc_23p6  medinc_23p7  \
1017        89300        99200       107200       115100       123100
1018        89300        99200       107200       115100       123100
1019        89300        99200       107200       115100       123100

      medinc_23p8  crime_rate  Unnamed: 0_y  Number of Hospitals
1017       131000    5.503137           NaN                  NaN
1018       131000    5.503137           NaN                  NaN
1019       131000    5.503137           NaN                  NaN

[3 rows x 22 columns]
          Key COUNTYNAME  STATEFP  COUNTYFP  PLACEFP  PLACENS  DIFFSklPI  \
1178  Sunbury   Delaware       39        41    75602  1086057     16.563

      DIFFBuildPI  Unnamed: 0_x  FIPS State Code  ...  medinc_23p2  \
1178       35.186            22               39  ...        79400

      medinc_23p3  medinc_23p4  medinc_23p5  medinc_23p6  medinc_23p7  \
1178        89300        99200       107200       115100       123100

      medinc_23p8  crime_rate  Unnamed: 0_y  Number of Hospitals
1178       131000         NaN           NaN                  NaN

[1 rows x 22 columns]
                  Key COUNTYNAME  STATEFP  COUNTYFP  PLACEFP  PLACENS  \
1224  Upper Arlington   Franklin       39        49    79002  1086116

      DIFFSklPI  DIFFBuildPI  Unnamed: 0_x  FIPS State Code  ...  medinc_23p2  \
1224     69.463         82.5            24               39  ...        79400

      medinc_23p3  medinc_23p4  medinc_23p5  medinc_23p6  medinc_23p7  \
1224        89300        99200       107200       115100       123100

      medinc_23p8  crime_rate  Unnamed: 0_y  Number of Hospitals
1224       131000    2.117246           NaN                  NaN

[1 rows x 22 columns]
              Key COUNTYNAME  STATEFP  COUNTYFP  PLACEFP  PLACENS  DIFFSklPI  \
1294  Westerville   Delaware       39        41    83342  1086118     16.563
1295  Westerville   Franklin       39        49    83342  1086118     69.463

      DIFFBuildPI  Unnamed: 0_x  FIPS State Code  ...  medinc_23p2  \
1294       35.186            22               39  ...        79400
1295       82.500            24               39  ...        79400

      medinc_23p3  medinc_23p4  medinc_23p5  medinc_23p6  medinc_23p7  \
1294        89300        99200       107200       115100       123100
1295        89300        99200       107200       115100       123100

      medinc_23p8  crime_rate  Unnamed: 0_y  Number of Hospitals
1294       131000    4.119502          93.0                  1.0
1295       131000    4.119502          93.0                  1.0

[2 rows x 22 columns]
              Key COUNTYNAME  STATEFP  COUNTYFP  PLACEFP  PLACENS  DIFFSklPI  \
1340  Worthington   Franklin       39        49    86604  2397377     69.463

      DIFFBuildPI  Unnamed: 0_x  FIPS State Code  ...  medinc_23p2  \
1340         82.5            24               39  ...        79400

      medinc_23p3  medinc_23p4  medinc_23p5  medinc_23p6  medinc_23p7  \
1340        89300        99200       107200       115100       123100

      medinc_23p8  crime_rate  Unnamed: 0_y  Number of Hospitals
1340       131000    3.314286           NaN                  NaN

[1 rows x 22 columns]