In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('Independent_Hospitals_by_City.xlsx', sheet_name='Sheet1')

df

,Hospital Name,City,Staffed,Total,Patient,Gross Patient
0,NaN,NaN,Beds,Discharges,Days,Revenue ($000)
1,Mercy Health - Anderson Hospital,Cincinnati,230,11667,51949,1040866
2,88th Medical Group - Wright-Patterson Air Forc...,Wright-Patterson AirForce Base,0,0,0,0
3,Adena Regional Medical Center,Chillicothe,209,9655,45407,1772533
4,Alliance Community Hospital,Alliance,140,1095,5629,253442
...,...,...,...,...,...,...
140,West Chester Medical Center,West Chester,160,9415,45357,1459085
141,Western Reserve Hospital,Cuyahoga Falls,83,3204,14942,1101482
142,Wilson Health,Sidney,71,2412,7667,279093
143,Wood County Hospital,Bowling Green,99,2093,6910,222013
144,Wooster Community Hospital,Wooster,135,5006,16526,342451

In [4]:
df_cleaned = df[(df != 0).all(axis=1)]
df_cleaned

,Hospital Name,City,Staffed,Total,Patient,Gross Patient
0,NaN,NaN,Beds,Discharges,Days,Revenue ($000)
1,Mercy Health - Anderson Hospital,Cincinnati,230,11667,51949,1040866
3,Adena Regional Medical Center,Chillicothe,209,9655,45407,1772533
4,Alliance Community Hospital,Alliance,140,1095,5629,253442
5,Ashtabula County Medical Center,Ashtabula,105,4381,16706,512958
...,...,...,...,...,...,...
140,West Chester Medical Center,West Chester,160,9415,45357,1459085
141,Western Reserve Hospital,Cuyahoga Falls,83,3204,14942,1101482
142,Wilson Health,Sidney,71,2412,7667,279093
143,Wood County Hospital,Bowling Green,99,2093,6910,222013
144,Wooster Community Hospital,Wooster,135,5006,16526,342451

In [5]:
df_cleaned = df.drop(['Staffed', 'Total', 'Patient', 'Gross Patient'], axis=1)
df_cleaned

,Hospital Name,City
0,NaN,NaN
1,Mercy Health - Anderson Hospital,Cincinnati
2,88th Medical Group - Wright-Patterson Air Forc...,Wright-Patterson AirForce Base
3,Adena Regional Medical Center,Chillicothe
4,Alliance Community Hospital,Alliance
...,...,...
140,West Chester Medical Center,West Chester
141,Western Reserve Hospital,Cuyahoga Falls
142,Wilson Health,Sidney
143,Wood County Hospital,Bowling Green
144,Wooster Community Hospital,Wooster

In [6]:
df_cleaned = df.drop(0, axis=0)
df_cleaned

,Hospital Name,City,Staffed,Total,Patient,Gross Patient
1,Mercy Health - Anderson Hospital,Cincinnati,230,11667,51949,1040866
2,88th Medical Group - Wright-Patterson Air Forc...,Wright-Patterson AirForce Base,0,0,0,0
3,Adena Regional Medical Center,Chillicothe,209,9655,45407,1772533
4,Alliance Community Hospital,Alliance,140,1095,5629,253442
5,Ashtabula County Medical Center,Ashtabula,105,4381,16706,512958
...,...,...,...,...,...,...
140,West Chester Medical Center,West Chester,160,9415,45357,1459085
141,Western Reserve Hospital,Cuyahoga Falls,83,3204,14942,1101482
142,Wilson Health,Sidney,71,2412,7667,279093
143,Wood County Hospital,Bowling Green,99,2093,6910,222013
144,Wooster Community Hospital,Wooster,135,5006,16526,342451

In [7]:
df_ = df_cleaned.drop(['Staffed', 'Total', 'Patient', 'Gross Patient'], axis=1)

In [8]:
df_

,Hospital Name,City
1,Mercy Health - Anderson Hospital,Cincinnati
2,88th Medical Group - Wright-Patterson Air Forc...,Wright-Patterson AirForce Base
3,Adena Regional Medical Center,Chillicothe
4,Alliance Community Hospital,Alliance
5,Ashtabula County Medical Center,Ashtabula
...,...,...
140,West Chester Medical Center,West Chester
141,Western Reserve Hospital,Cuyahoga Falls
142,Wilson Health,Sidney
143,Wood County Hospital,Bowling Green
144,Wooster Community Hospital,Wooster

In [9]:
df__ = df_[(df_ != 0).all(axis=1)]
df__

,Hospital Name,City
1,Mercy Health - Anderson Hospital,Cincinnati
2,88th Medical Group - Wright-Patterson Air Forc...,Wright-Patterson AirForce Base
3,Adena Regional Medical Center,Chillicothe
4,Alliance Community Hospital,Alliance
5,Ashtabula County Medical Center,Ashtabula
...,...,...
140,West Chester Medical Center,West Chester
141,Western Reserve Hospital,Cuyahoga Falls
142,Wilson Health,Sidney
143,Wood County Hospital,Bowling Green
144,Wooster Community Hospital,Wooster

In [10]:
hospital_df = df__.groupby('City')['Hospital Name'].count().reset_index()
hospital_df.columns = ['City', 'Number of Hospitals']
hospital_df.to_csv('hospital.csv', sep = '\t')